@import url("main_styles.css");

body {
	background:#741200;
	color:#fff;
	text-shadow:1px 1px #000;
}
div.commentbox {
	background:#ff4136;
}
.arrow-down {
	border-top: 10px solid #ff4136;
}

div#cs-red {top:-2px;cursor:default}

fieldset#commentfield {
	border:1px solid #fff;
}

textarea#commentarea, button#commentsubmit {
	background:#ff4136;
	color:#fff;
}