body{font-family:Verdana,sans-serif;font-size:14px;}
p.n{font-weight:bold;}
blockquote{background:rgba(255,255,0,0.25);padding:1px 10px;border:1px solid black;}

/*

#006339 is a pretty neat color
prolly wouldnt fit here tho

*/